In [ ]:
#Selected all information for the top ten best-selling games
#Ordered the results from best-selling game down to tenth best-selling
SELECT *
FROM game_sales
ORDER BY games_sold DESC
LIMIT 10;

In [ ]:
#Joined games_sales and reviews
#Selected a count of the number of games where both critic_score and user_score are null
SELECT COUNT(*)
FROM game_sales gs
LEFT JOIN reviews r
USING(game)
WHERE critic_score IS NULL AND user_score IS NULL;

In [ ]:
#Selected release year and average critic score for each year, rounded and aliased
#Joined the game_sales and reviews tables
#Grouped by release year
#Ordered the data from highest to lowest avg_critic_score and limited the result to 10
SELECT 
    gs.year,
    ROUND(AVG(r.critic_score),2) AS avg_critic_score
FROM game_sales gs
INNER JOIN reviews r
USING(game)
GROUP BY gs.year
ORDER BY avg_critic_score DESC
LIMIT 10;

In [ ]:
#Pasted the query from the previous task; updated it to add a count of games released in each year called num_games
#Updated the query so that it only returns years that have more than four reviewed games
SELECT 
    gs.year,
    COUNT(gs.game) AS num_games,
    ROUND(AVG(r.critic_score),2) AS avg_critic_score
FROM game_sales gs
INNER JOIN reviews r 
USING(game)
GROUP BY gs.year
HAVING COUNT(gs.game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

In [ ]:
#Selected the year and avg_critic_score for those years that dropped off the list of critic favorites 
#Ordered the results from highest to lowest avg_critic_score
SELECT year, avg_critic_score
FROM top_critic_years
EXCEPT
SELECT year, avg_critic_score
FROM top_critic_years_more_than_four_games 
ORDER BY avg_critic_score DESC;

In [ ]:
#Selected year, an average of user_score, and a count of games released in a given year, aliased and rounded
#Included only years with more than four reviewed games; grouped data by year
#Ordered data by avg_user_score, and limited the result to ten
SELECT 
    gs.year,
    COUNT(gs.game) AS num_games,
    ROUND(AVG(r.user_score),2) AS avg_user_score
FROM game_sales gs
INNER JOIN reviews r 
USING(game)
GROUP BY gs.year
HAVING COUNT(gs.game) > 4
ORDER BY avg_user_score DESC
LIMIT 10;

In [ ]:
#Selected the year results that appeared on both tables
SELECT year
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT year
FROM top_user_years_more_than_four_games

In [ ]:
#Selected year and sum of games_sold, aliased as total_games_sold; ordered results by total_games_sold descending
#Filtered game_sales based on whether each year is in the list returned in the previous query
SELECT
    gs.year,
    SUM(gs.games_sold) AS total_games_sold
FROM game_sales gs
WHERE gs.year IN (SELECT year
FROM top_user_years_more_than_four_games
                 
INTERSECT
SELECT year
FROM top_critic_years_more_than_four_games)
GROUP BY gs.year
ORDER BY total_games_sold DESC;